<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Profile</title>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}"/>
    <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</head>
<body>
<div class="container">
    <div class="row-fluid">
        <h1 th:text="${welcomeMsg}"></h1>
        <div class="col col-md-6 col-lg-6">
            <form autocomplete="off" action="#" th:action="@{/changelevel}"
                  th:object="${loggedUser}" method="post" class="form-horizontal"
                  role="form">
                <table class="tb">
                    <tr>
                        <td>Login:</td> <td th:text="${loggedUser.login}">&nbsp;</td>

                    </tr>
                    <tr>
                        <td>E-mail:</td> <td th:text="${loggedUser.email}">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Level:</td> <td th:text="${userLvl}">&nbsp;</td>
                    </tr>
                </table>
                <div class="form-group">

                    <div class="col-sm-9">
                        <select class="form-control" th:field="*{level}">
                            <option th:each="lvl:${levels}" th:value="${{lvl}}" th:text="${lvl.level}">
                                $Select your level...
                            </option>

                        </select>
                        <button class="btn btn-md btn-success btn-block" type="Submit">Change level</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col col-md-6 col-lg-6">

            <form th:action="@{/}" method="get">
                <button class="btn btn-md btn-success btn-block" type="Submit">Start reading
                    <span class="glyphicon glyphicon-book"></span>
                </button>
            </form>
            <form th:action="@{/test}" method="get">
                <button class="btn btn-md btn-success btn-block" type="Submit" style="margin-top: 10px">Vocabulary test
                    <span class="glyphicon glyphicon-education"></span>
                </button>
            </form>

            <form th:action="@{/logout}" method="post">
                <button class="btn btn-md btn-warning btn-block" type="submit" style="margin-top: 95px">Logout</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>